doctype html
html(lang="en")
  head
    title Uttarakhand Treks
    link(href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css", rel="stylesheet")
    link(href="/dist/css/main.css", rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/10.4.2/lazyload.min.js")

  body
  div(class=" ")
    
    section(id="main")
      .hero-main.uk-background-cover.uk-background-secondary.uk-background-fixed.uk-flex.uk-flex-column.uk-flex-middle.uk-background-blend-multiply
        .uk-preserve-color.uk-width-1-1
          div(uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200")
            nav(class="uk-navbar-container uk-height-1-3" uk-navbar style="position: relative; z-index: 980;" )
              div(class="uk-navbar-left")
                  a(class="uk-navbar-item uk-logo" href="#main")
                    img(src="/images/uttarakhandTrek.png", alt="UTTARAKHAND TREK")
              div(class="uk-navbar-right")
                  ul(class="uk-navbar-nav")
                    li
                      a(href="#main", uk-scroll) Home
                    li
                      a(href="#we-provide", uk-scroll) Services
                    li
                      a(href="#pricing-calculator", uk-scroll) Pricing
                    li
                      a(href="#", uk-scroll) About
                    li
                      a(href="#contact-us", uk-scroll) Contact
        .uk-light.uk-text-center.uk-margin-large-top
          h1.uk-heading-primary.uk-text-uppercase(uk-scrollspy="cls:uk-animation-fade") Uttarakhand Treks
          span.uk-text-lead.uk-heading-bullet.uk-text-uppercase(uk-scrollspy="cls:uk-animation-fade; delay:1000") Cause Outside is where life is
        div.uk-margin-medium-top.uk-button-group
          a.uk-button.uk-button-primary.uk-button-large(uk-scrollspy="cls:uk-animation-slide-bottom-small; delay:2000", href="#contact-us", uk-scroll)
            span.uk-margin-small-right(uk-icon="receiver")
            span.uk-text-nowrap Book Now!
          a.uk-button.uk-button-secondary.uk-button-large(uk-scrollspy="cls:uk-animation-slide-bottom-small; delay:3000", href="#we-provide", uk-scroll)
            span.uk-margin-small-right(uk-icon="chevron-down")
            span.uk-text-nowrap Read More

    .uk-section(id="we-provide")
      .uk-background.uk-flex.uk-flex-column.uk-flex-middle.uk-flex-center
        .uk-text-center
          h1.uk-text-uppercase.uk-text-primary.uk-heading-divider(uk-scrollspy="cls:uk-animation-fade") Services
          .uk-container(uk-grid).uk-margin-large-top
            div(class="uk-width-1-3@m")
              .uk-card.uk-card-default.uk-card-hover
                .uk-card-media-top
                  img(src="/dist/img/DSC_0329.JPG", alt="Camping Image")
                .uk-card-body
                  h3.uk-card-title Camping
                  ul.uk-list.uk-list-small.uk-list-divider
                    li Luxury camping
                    li Eco-Camp
                    li Jungle Camp
                    li Event Camping

            div(class="uk-width-1-3@m")
              .uk-card.uk-card-secondary.uk-card-hover
                .uk-card-media-top
                  img(src="/dist/img/DSC_0072.JPG", alt="Camping Image")
                .uk-card-body
                  h3.uk-card-title Trekking
                  ul.uk-list.uk-list-small.uk-list-divider
                    li Event Trekking
                    li Group Trekking
                    li Solo Trekking
                    li Family Trekking

            div(class="uk-width-1-3@m")
              .uk-card.uk-card-primary.uk-card-hover
                .uk-card-media-top
                  img(src="/dist/img/DSC_0051.JPG", alt="Camping Image")
                .uk-card-body
                  h3.uk-card-title Camping Accessories
                  ul.uk-list.uk-list-small.uk-list-divider
                    li Tent
                    li Mattresses
                    li Sleeping Bags
                    li Event Camping

    .uk-section(id="trekking-destinations")
      .uk-background.uk-flex.uk-flex-column.uk-flex-middle.uk-flex-center
        .uk-light
          h1.uk-text-uppercase.uk-heading-divider.uk-margin-large-bottom(uk-scrollspy="cls:uk-animation-fade") Destinations

        .uk-position-relative.uk-visible-toggle.uk-light(uk-slider="clsActivated: uk-transition-active; index: 3; autoplay: true; autoplay-interval: 5000; pause-on-hover: true", style="width: 90%")
          ul.uk-slider-items.uk-child-width-1-2
            li
              .uk-panel
                img(data-src="/dist/img/DSC_0051.JPG")
                .uk-overlay.uk-overlay-primary.uk-position-bottom.uk-text-center.uk-transition-slide-bottom
                  h3.uk-margin-bottom RoopKund Bedni Trek
                  p.uk-margin-remove Lorem ipsum
            li
              .uk-panel
                img(data-src="/dist/img/DSC_0054.JPG")
                .uk-overlay.uk-overlay-primary.uk-position-bottom.uk-text-center.uk-transition-slide-bottom
                  h3.uk-margin-bottom Bottom
                  p.uk-margin-remove Lorem ipsum
            li
              .uk-panel
                img(data-src="/dist/img/DSC_0072.JPG")
                .uk-overlay.uk-overlay-primary.uk-position-bottom.uk-text-center.uk-transition-slide-bottom
                  h3.uk-margin-bottom RoopKund Bedni Trek
                  p.uk-margin-remove Lorem ipsum
            li
              .uk-panel
                img(data-src="/dist/img/DSC_0329.JPG")
                .uk-overlay.uk-overlay-primary.uk-position-bottom.uk-text-center.uk-transition-slide-bottom
                  h3.uk-margin-bottom Bottom
                  p.uk-margin-remove Lorem ipsum
          .uk-position-center-left.uk-position-small.uk-hidden-hover(uk-slidenav-previous uk-slider-item="previous")
          .uk-position-center-right.uk-position-small.uk-hidden-hover(uk-slidenav-next uk-slider-item="next")

    .uk-section(id="pricing-calculator")
      .uk-background.uk-background-default.uk-flex.uk-flex-column.uk-flex-middle.uk-flex-center
        .uk-dark.uk-heading-divider.uk-text-center
          h1.uk-text-uppercase(uk-scrollspy="cls:uk-animation-fade") Pricing Calculator
          span.uk-text-lead.uk-heading-bullet.uk-text-uppercase(uk-scrollspy="cls:uk-animation-fade; delay:500") Fair Prices Upfront.

        .uk-tile.uk-tile-secondary.uk-margin-large-top(style="width: 90%;")
          .uk-grid-large.uk-grid-divider.uk-grid-match(uk-grid)
            .uk-grid.uk-grid-match(class="uk-width-3-4@m")
              form(class="uk-width-1-2")
                .uk-margin
                  label.uk-form-label(for="trek-select") Trek
                  .uk-form-controls
                    select.uk-select(id="trek-select")
                      option(value="satopanth", per-person="10000") Satopanth
                      option(value="nanda", per-person="30000") Nanda
                      option(value="chopta", per-person="20000") Chopta

              form(class="uk-width-1-2")
                .uk-margin
                  label.uk-form-label(for="trek-persons") Number of persons to accomodate
                  .uk-form-controls
                    input.uk-input(type="number", value="1", id="trek-persons", onchange="CalculateTrekPrice()", min="1", max="100")

            div(class="uk-width-1-4@m")
              h2(id="trek-price").uk-text-success.uk-text-nowrap.uk-margin-small-top $ 40,000

            div(class="uk-width-1-1", id="trek-details")

              .uk-card.uk-card-default.uk-card-hover.uk-grid-collapse.uk-margin(uk-grid, class="uk-child-width-1-2@m", id="satopanth")
                .uk-card-media-left.uk-cover-container
                  img(src="/dist/img/DSC_0330.JPG", uk-cover)
                  canvas(width="300", height="300")
                .uk-card-body
                  span.uk-card-title Satopanth
                  p Details about satopanth

              .uk-card.uk-card-default.uk-card-hover.uk-grid-collapse.uk-margin(uk-grid, class="uk-child-width-1-2@m", id="chopta", style="display:none;")
                .uk-card-media-left.uk-cover-container
                  img(src="/dist/img/DSC_0330.JPG", uk-cover)
                  canvas(width="300", height="300")
                .uk-card-body
                  span.uk-card-title Chopta
                  p Details about chopta

              .uk-card.uk-card-default.uk-card-hover.uk-grid-collapse.uk-margin(uk-grid, class="uk-child-width-1-2@m", id="nanda", style="display:none;")
                .uk-card-media-left.uk-cover-container
                  img(src="/dist/img/DSC_0330.JPG", uk-cover)
                  canvas(width="300", height="300")
                .uk-card-body
                  span.uk-card-title Nanda
                  p Details about Nanda

    .uk-section(id="contact-us")
      .uk-background.uk-background-secondary.uk-height-large.uk-background-blend-multiply.uk-background-cover.uk-flex.uk-flex-column.uk-flex-middle.uk-flex-center
        .uk-light.uk-text-center
          h1.uk-text-uppercase.uk-heading-divider(uk-scrollspy="cls:uk-animation-fade") Contact US
          span.uk-text-lead(uk-scrollspy="cls:uk-animation-fade; delay:500") We are available 24 hours to help.

        .large-social-icons.uk-margin-medium-top
          a.uk-icon-button.uk-margin-medium-right.icon-button-2x(uk-icon="icon: facebook; ratio: 2;", style="background-color: #3b5998; color:white;", uk-scrollspy="cls:uk-animation-slide-bottom-small; delay:1000")
          a.uk-icon-button.uk-margin-medium-right.icon-button-2x(uk-icon="icon: google; ratio: 2", style="background-color: #34a853; color:white;", uk-scrollspy="cls:uk-animation-slide-bottom-small; delay:1500")
          a.uk-icon-button.uk-margin-medium-right.icon-button-2x(uk-icon="icon: instagram; ratio: 2", style="background-color: #405de6; color:white;", uk-scrollspy="cls:uk-animation-slide-bottom-small; delay:2000")
          a.uk-icon-button.uk-margin-medium-right.icon-button-2x(uk-icon="icon: receiver; ratio: 2", uk-scrollspy="cls:uk-animation-slide-bottom-small; delay:2500")
          a.uk-icon-button.icon-button-2x(uk-icon="icon: whatsapp; ratio: 2", style="background-color: #25d366; color:white;", uk-scrollspy="cls:uk-animation-slide-bottom-small; delay:3000")

        .small-social-icons.uk-margin-medium-top
          a.uk-icon-button.uk-margin-small-right.icon-button-1x(uk-icon="icon: facebook; ratio: 1;", style="background-color: #3b5998; color:white;", uk-scrollspy="cls:uk-animation-slide-bottom-small; delay:1000")
          a.uk-icon-button.uk-margin-small-right.icon-button-1x(uk-icon="icon: google; ratio: 1", style="background-color: #34a853; color:white;", uk-scrollspy="cls:uk-animation-slide-bottom-small; delay:1500")
          a.uk-icon-button.uk-margin-small-right.icon-button-1x(uk-icon="icon: instagram; ratio: 1", style="background-color: #405de6; color:white;", uk-scrollspy="cls:uk-animation-slide-bottom-small; delay:2000")
          a.uk-icon-button.uk-margin-small-right.icon-button-1x(uk-icon="icon: receiver; ratio: 1", uk-scrollspy="cls:uk-animation-slide-bottom-small; delay:2500")
          a.uk-icon-button.icon-button-1x(uk-icon="icon: whatsapp; ratio: 1", style="background-color: #25d366; color:white;", uk-scrollspy="cls:uk-animation-slide-bottom-small; delay:3000")

    div(id="book-button-sticky")
      a.uk-button.uk-button-danger(href="#contact-us", uk-scroll) Book Now

    script(src="/dist/js/main.js")

