doctype html
html(lang="en")
  head
    title Uttarakhand Treks
    link(href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css", rel="stylesheet")
    link(href="/dist/css/main.css", rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js")
    

  body
    h1 Hello Bros!
    script(src="/dist/js/main")

