doctype html
html(lang="en")
  head
    title Uttarakhand Treks
    link(href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css", rel="stylesheet")
    link(href="/dist/css/main.css", rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js")


  body
    .hero-main.uk-background-cover.uk-background-secondary.uk-background-fixed.uk-flex.uk-flex-column.uk-flex-middle.uk-flex-center.uk-background-blend-multiply

      .uk-light.uk-text-center
        h1.uk-heading-primary.uk-text-uppercase(uk-scrollspy="cls:uk-animation-fade") Uttarakhand Treks
        span.uk-text-lead.uk-heading-bullet.uk-text-uppercase(uk-scrollspy="cls:uk-animation-fade; delay:1500; hidden:true") Cause Outside is where life is
      p.uk-margin-medium-top
        a.uk-button.uk-button-primary.uk-button-large(uk-scrollspy="cls:uk-animation-slide-bottom-small; delay:2500")
          span.uk-margin-small-right(uk-icon="receiver")
          span Book Now!


    section
      p Hello
    script(src="/dist/js/main.js")

