doctype html
html(lang="en")
  head
    title Uttarakhand Treks
    link(href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css", rel="stylesheet")
    link(href="/dist/css/main.css", rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js")


  body
    .hero-main.uk-background-cover.uk-background-secondary.uk-background-fixed.uk-flex.uk-flex-column.uk-flex-middle.uk-flex-center.uk-light.uk-background-blend-multiply
      h1.uk-heading-primary.uk-text-uppercase Uttarakhand Treks
      span.uk-text-lead.uk-heading-bullet.uk-text-uppercase Cause Outside is where life is

    section
      p Hello
    script(src="/dist/js/main.js")

