@import "_colors.scss";

@media (min-width: 1024px) {
  body {
    padding: 30px;
  }
}

.hero-main {
  background-image: url(/dist/img/DSC_0054.JPG);
  height: 95vh;
}

#we-provide {
  background-color: $silver;
}

#trekking-destinations {
  background-color: $wet-asphalt;
}

#treks-to-explore {
  background-color: $belige-hole;
}

#upcoming-events {
  background-color: $midnight-blue;
}
